BUG: Negative computed packet number in ACK frames

### Description
- Type: Non-conformance Bug
- Priority: Medium

## Non-conformance Bug
Commit: 7f2fbdfb9f1f7431b31c04fb5d9b4d30b560540b

**Expected behavior **   
The QUIC 1 [RFC](https://www.rfc-editor.org/rfc/rfc9000.html) in section 19.3.1 states that:

> Each ACK Range acknowledges a contiguous range of packets by indicating the number of acknowledged packets that precede the largest packet number in that range. A value of 0 indicates that only the largest packet number is acknowledged. Larger ACK Range values indicate a larger range, with corresponding lower values for the smallest packet number in the range. Thus, given a largest packet number for the range, the smallest value is determined by the following formula: smallest = largest - ack_range.
If any computed packet number is negative, an endpoint MUST generate a connection error of type FRAME_ENCODING_ERROR.

**Actual behavior ** 
 During an interaction, upon receiving an ACK frame, if the computed packet number is negative, in some scenarios, you can complete the handshake without any error being generated.

![image](https://user-images.githubusercontent.com/3464382/184652294-5757fc0a-e5be-49fa-8570-0de70e786162.png)

I have attached the captured interaction between a QUIC client and a server containing the mentioned problem. The master secret log file is also attached so that one can decrypt the exchanged traffic.

[negative-acked-packet-number.zip](https://github.com/private-octopus/picoquic/files/9337739/negative-acked-packet-number.zip)



Thanks for the report, @bathooman.

This is weird. There is already a unit test for checking the parsing of "bad" ACK frames. I added another test case with an exact copy of the frame above, and the parser does return the expected "frame encoding" error.

There may be something else going on. As the handshake progresses, the picoquic nodes progressively close the "initial" and then "handshake" packet ranges, and just ignore any further incoming packets in that range. Could it be that your test packet was just ignored?

This is a bit difficult to debug with the wireshark captures. Could you reproduce that while capturing "qlog" files on the picoquic node under test? The qlog files will include information about the local state of the program, which of course are not present in the PCAP.

Hello,
I have checked it again. In presence of bad ACK frames, we get back PROTOCOL_VIOLATION.

I attached a new trace where two of the acknowledgements sent to the server are invalid, along with the qlog files.

[invalid-acknowledgment-handling.zip](https://github.com/private-octopus/picoquic/files/9349006/invalid-acknowledgment-handling.zip)



Nice test tool for injecting frames. I tested picoquic end to end using fuzi_q (https://github.com/private-octopus/fuzi_q), which does inject that kind of packets, looking for implementation failures.

The relevant part of the qlog trace on the server is:
```
[0, "transport", "packet_received", { "packet_type": "1RTT", "header": { "packet_size": 55, "packet_number": 2, "dcid": "4795f18eaa288925" }, "frames": [{ 
    "frame_type": "path_challenge", "path_challenge": "870cc44cb52c303f"}, { 
    "frame_type": "ack", "ack_delay": 0, "acked_ranges": [[18446744073709551615, 2], [18446744073709551613, 18446744073709551613]]}, { 
    "frame_type": "padding"}]}],
[0, "transport", "packet_sent", { "packet_type": "1RTT", "header": { "packet_size": 19, "packet_number": 2, "dcid": "4dd39dd14a5537ac" }, "frames": [{ 
    "frame_type": "ack", "ack_delay": 0, "acked_ranges": [[2, 2]]}, { 
    "frame_type": "connection_close", "error_space": "transport", "error_code": 10, "trigger_frame_type": "ack"}]}],
```
Note that there are no negative numbers in the "varint" encoding. The test tool set the value to 0xFFFF FFFF FFFF FFFF, but that's decoded as "8 bytes encoding" (top 2 bits 0b11) followed by 0x3FFF FFFF FFFF FFFF, 2**62 - 1. The corresponding sequence number is above anything that the picoquic server sent, so picoquic reacts according to [section 21.4 of RFC 9000](https://www.rfc-editor.org/rfc/rfc9000.html#section-21.4) and returns a protocol error. Seems legit.

But there is an issue in the qlog reporting. The start of the range should be listed as 4611686018427387903, not 18446744073709551615.

The qlog trace shows that, at the time the offending ACK was received, the server has only sent 2 packets with PN 0 and 1. The offending ACK pretends to acknowledge packet number 2. That's what triggers a protocol violation, per [Section 21.4 of RFC 9000](https://www.rfc-editor.org/rfc/rfc9000.html#section-21.4): "An endpoint that acknowledges packets it has not received might cause a congestion controller to permit sending at rates beyond what the network supports. An endpoint MAY skip packet numbers when sending packets to detect this behavior. An endpoint can then immediately close the connection with a connection error of type PROTOCOL_VIOLATION; see [Section 10.2](https://www.rfc-editor.org/rfc/rfc9000.html#immediate-close)."

@bathooman, it looks like you are using the API `picoquic_queue_misc_frame` to insert test frames in the client stream. Which I like, because that's exactly what the API was designed for! If you do that, you may want to expose the internal structures by including `picoquic_internal.h`. For example, if you want to understand the state of the ACK space before formatting a spoofed ACK, you can:

1) find the list of ACK ranges received (sack list) using `picoquic_sack_list_from_cnx_context`
2) find the highest packet number received in that list using `picoquic_sack_list_last`

You could then use that to format a test frame in which the "highest number received" is correct, and then check that further errors in the ACK frame would trigger the correct error code.

@huitema, Thank you for the information. We are using a symbolic execution-based approach for our tests. With everything said, I think we can close this issue. 