Support frame size limit in H3

This will require sending large files as chunks, instead of single block.

Actually, the code is correct. See [section 4.3.2 of RFC 9114](https://www.rfc-editor.org/rfc/rfc9114.html#name-header-size-constraints). The size constraint applies to request headers, but not to data headers.