Improper Rejection of Small Server Initial ACKs

[Section 14.1 of RFC 9000](https://www.rfc-editor.org/rfc/rfc9000.html#name-initial-datagram-size) states:

> Similarly, a server MUST expand the payload of all UDP datagrams carrying **ack-eliciting** Initial packets to at least the smallest allowed maximum datagram size of 1200 bytes.

Currently 2-packet Client Hellos cause google.com to send a small ACK-only packet for the first Initial.

To repro:
`./picoquicdemo -Ql logs/tmp  google.com 443`

The log will not show the receipt of that first Initial ACK, but tcpdump shows that a 43B datagram did arrive:

`martinduke@martinduke79:~/git/picoquic$ sudo tcpdump -xi enp0s8 udp port 443 -s 68`
`tcpdump: verbose output suppressed, use -v[v]... for full protocol decode`
`listening on enp0s8, link-type EN10MB (Ethernet), snapshot length 68 bytes`
`03:03:31.712616 IP 100.115.92.26.48934 > sea30s10-in-f14.1e100.net.https: UDP, length 1252`
`        0x0000:  4501 0500 0000 4000 4011 c4f5 6473 5c1a`
`        0x0010:  8efb 216e bf26 01bb 04ec 75f4 ce00 0000`
`        0x0020:  0108 12f5 c3ca 31e7 bff5 0809 a49e 6d81`
`        0x0030:  cd00 3740 4600`
`03:03:31.712620 IP 100.115.92.26.48934 > sea30s10-in-f14.1e100.net.https: UDP, length 1252`
`        0x0000:  4501 0500 0001 4000 4011 c4f4 6473 5c1a`
`        0x0010:  8efb 216e bf26 01bb 04ec 75f4 cf00 0000`
`        0x0020:  0108 12f5 c3ca 31e7 bff5 0809 a49e 6d81`
`        0x0030:  cd00 3740 4600`
`03:03:31.717943 IP sea30s10-in-f14.1e100.net.https > 100.115.92.26.48934: UDP, length 43`
`        0x0000:  4500 0047 0000 4000 3a11 cfaf 8efb 216e`
`        0x0010:  6473 5c1a 01bb bf26 0033 7dea cc00 0000`
`        0x0020:  0100 08f2 f5c3 ca31 e7bf f500 4019 9e77`
`        0x0030:  9bc4 0d21 4611`
`03:03:31.717944 IP sea30s10-in-f14.1e100.net.https > 100.115.92.26.48934: UDP, length 1252`
`        0x0000:  4500 0500 0000 4000 3a11 caf6 8efb 216e`
`        0x0010:  6473 5c1a 01bb bf26 04ec 83fe c300 0000`
`        0x0020:  0108 09a4 9e6d 81cd 0037 08f2 f5c3 ca31`
`        0x0030:  e7bf f500 44ca`

Adding a few printfs, I was able to see that picoquic/packet.c Line 104 is triggering a rejection of the packet, but commenting out this code did not solve the problem.

My reading of the spec suggests that this is a bug. Losing an ACK is not a big deal, but it's nevertheless not correct.



Closing this -- the ACK has an incorrect destination connection ID.