Interop test M fails due to protocol error in "streams blocked" frame.

The specification of the Streams Blocked frame in [Section 19.14 of RFC 9000](https://www.rfc-editor.org/rfc/rfc9000.html#name-streams_blocked-frames) says:

Maximum Streams: A variable-length integer indicating the maximum number of streams allowed at the time the frame was sent. This value cannot exceed 260, as it is not possible to encode stream IDs larger than 262-1. Receipt of a frame that encodes a larger stream ID MUST be treated as a connection error of type STREAM_LIMIT_ERROR or FRAME_ENCODING_ERROR.

But it seems that picoquic uses a larger value.